<div class="footer-content">

    <div class="footer-left-block">
        <div class="links">
            <div class="info-box">
                <div class="title">
                    About Us
                </div>
                <p><a href="#">About XYZ</a></p>
                <p><a href="#">FAQs</a></p>
            </div>

            <div class="info-box">
                <div class="title">
                    Resources
                </div>
                <p><a href="#">Set Goals</a></p>
                <p><a href="#">XYZ Tips</a></p>
            </div>

            <div class="social-media">
                <div class="btn-social-media">{{fa-icon "facebook"}}</div>
                <div class="btn-social-media">{{fa-icon "twitter"}}</div>
                <div class="btn-social-media">{{fa-icon "google-plus"}}</div>
                <div class="btn-social-media">{{fa-icon "instagram"}}</div>
                <div class="btn-social-media">{{fa-icon "pinterest"}}</div>
            </div>
        </div>

    </div>

    <div class="footer-right-block">
        <div class="assistance">
            <div class="title">
                Need assistance?
            </div>
            <div class="phone">

                <div class="big-label-red">
                    <div class="btn-circle-red-small">
                        {{fa-icon "phone"}}
                    </div><span>1-888-579-5910</span></div>
                <p>When calling, use memeber ID <span class="red">791509951</span></p>
                <p><span class="red">Weekdays</span> 8AM - 9PM Eastern</p>
                <p><span class="red">Weekends</span> 12PM - 8PM Eastern</p>
            </div>
            <div class="email">

                <div class="big-label-red">
                    <div class="btn-circle-red-small">
                        {{fa-icon "envelope"}}
                    </div><span>help@xyz.com</span></div>
            </div>
        </div>
    </div>
</div>
<div class="fine-print">
    <span>XYZ &copy; 2017 All Rights Reserved</span>
    <span>Terms & Conditions    |    Privacy Policy</span>
</div>
