<section class="overview">
    <div class="heading">The Honest Company, Inc.</div>
    <div class="overview-container">

        <div class="tax-id">
            <div class="blue-circle">
                <p class="red-label">Tax Id</p>
                <p class="white-text">xx-xxx<strong>4861</strong></p>
            </div>
        </div>

        <div class="general-info">
            <div class="text-box">
                <p class="red-label">Doing Business as</p>
                <p class="company-name">The Honest Company</p>
            </div>

            <div class="text-box">
                <p class="red-label">Adress</p>
                <p class="normal-text">12130 Millennium Dr, Los Angeles, CA 90094</p>
            </div>

            <div class="text-box">
                <div class="left">
                    <p class="red-label">Phone Number</p>
                    <p class="normal-text">(888) 862-8818</p>
                </div>
                <div class="right">
                    <p class="red-label">Website</p>
                    <span class="normal-text">honest.com                    
                    
                    <div class="btn-circle-red">
                        {{fa-icon "arrow-right"}}
                    </div>
                    </span>
                </div>

            </div>
        </div>

               
        <div class="updates">
            <div class="big-red-circle">
               
                <p>Report Updates In</p>
                <div class="big-number">
                    22
                </div>
                <p>days</p>
            </div>
        </div>
        

    </div>
</section>


<section class="risk">
    <div class="risk-container">
        <div class="risk-score">
           <div class="big-blue-circle">
                <div class="big-number">
                    84
                </div>
                <p class="low-risk">LOW RISK</p>
            </div>
            
            <p>higher scores are better</p>
        </div>

        <div class="risk-info">
            <div class="heading-white">Experian Credit Risk Score</div>
            <p class="red-label">Factors lowering this score</p>
            <div class="risk-row">
                <p><span>{{fa-icon "times"}}</span>Balance of recently delinquent commercial accounts</p>
            </div>
            <div class="risk-row">
                <p><span>{{fa-icon "times"}}</span>Balance of commercial accounts at worst delinquency</p>
            </div>
            <div class="risk-row">
                <p><span>{{fa-icon "times"}}</span>Commercial account delinquency in the last 6 months</p>
            </div>
            <div>
                <button>{{fa-icon "info-circle"}}How is this score calculated?</button>
            </div>           

        </div>



    </div>
</section>

<section class="cta-strip">

    <div class="cta-strip-container">
        <img src="assets/images/experian.svg" alt="Experian logo" class="cta-logo">
        <span>This report was generated on <strong>July 17, 2017</strong> and will be updated in <strong>22 days</strong></span>
    </div>
</section>

<footer>
    <div class="footer-content">

        <div class="footer-left-block">
            <div class="links">
                <div class="info-box">
                    <div class="title">
                        About Us
                    </div>
                    <p><a href="#">About XYZ</a></p>
                    <p><a href="#">FAQs</a></p>
                </div>

                <div class="info-box">
                    <div class="title">
                        Resources
                    </div>
                    <p><a href="#">Set Goals</a></p>
                    <p><a href="#">XYZ Tips</a></p>
                </div>

                <div class="social-media">
                    <div class="btn-social-media">{{fa-icon "facebook"}}</div>
                    <div class="btn-social-media">{{fa-icon "twitter"}}</div>
                    <div class="btn-social-media">{{fa-icon "google-plus"}}</div>
                    <div class="btn-social-media">{{fa-icon "instagram"}}</div>
                    <div class="btn-social-media">{{fa-icon "pinterest"}}</div>
                </div>
            </div>

        </div>

        <div class="footer-right-block">
            <div class="assistance">
                <div class="title">
                    Need assistance?
                </div>
                <div class="phone">
                    
                    <div class="big-label-red"><div class="btn-circle-red-small">
                            {{fa-icon "phone"}}
                        </div><span>1-888-579-5910</span></div>
                    <p>When calling, use memeber ID <span class="red">791509951</span></p>
                    <p><span class="red">Weekdays</span> 8AM - 9PM Eastern</p>
                    <p><span class="red">Weekends</span> 12PM - 8PM Eastern</p>
                </div>
                <div class="email">

                    <div class="big-label-red">
                        <div class="btn-circle-red-small">
                            {{fa-icon "envelope"}}
                        </div><span>help@xyz.com</span></div>
                </div>
            </div>
        </div>



    </div>
    <div class="fine-print">
        <span>XYZ &copy; 2017 All Rights Reserved</span>
        <span>Terms & Conditions    |    Privacy Policy</span>
    </div>



</footer>
