<section class="overview">
    <div class="heading">The Honest Company, Inc.</div>
    <div class="overview-container">
        <div class="tax-id">
            <div class="blue-circle">
                <p class="red-label">Tax Id</p>
                <p class="white-text">xx-xxx<strong>4861</strong></p>
            </div>
        </div>
        <div class="general-info">
            <div class="text-box">
                <p class="red-label">Doing Business as</p>
                <p class="company-name">The Honest Company</p>
            </div>
            <div class="text-box">
                <p class="red-label">Adress</p>
                <p class="normal-text">12130 Millennium Dr, Los Angeles, CA 90094</p>
            </div>
            <div class="text-box">
                <div class="left">
                    <p class="red-label">Phone Number</p>
                    <p class="normal-text">(888) 862-8818</p>
                </div>
                <div class="right">
                    <p class="red-label">Website</p>
                    <span class="normal-text">honest.com                 
                    <div class="btn-circle-red">
                        {{fa-icon "arrow-right"}}
                    </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="updates">
            <div class="big-red-circle">
                <p>Report Updates In</p>
                <div class="big-number">
                    22
                </div>
                <p>days</p>
            </div>
        </div>
    </div>
</section>

<section class="risk">
    <div class="risk-container">
        <div class="risk-score">
            <div class="gauge-block">
                <div class="big-blue-circle">
                    <div class="big-number">
                        84
                    </div>
                    <p class="low-risk">LOW RISK</p>
                </div>

                <p>higher scores are better</p>
            </div>
        </div>
        <div class="risk-info">
            <div class="heading-white">Experian Credit Risk Score</div>
            <p class="red-label">Factors lowering this score</p>
            <div class="risk-row">
                <p><span>{{fa-icon "times"}}</span>Balance of recently delinquent commercial accounts</p>
            </div>
            <div class="risk-row">
                <p><span>{{fa-icon "times"}}</span>Balance of commercial accounts at worst delinquency</p>
            </div>
            <div class="risk-row">
                <p><span>{{fa-icon "times"}}</span>Commercial account delinquency in the last 6 months</p>
            </div>
            <div>
                <button>{{fa-icon "info-circle"}}How is this score calculated?</button>
            </div>
        </div>
    </div>
</section>

<section class="cta-strip">
    <div class="cta-strip-container">
        <img src="assets/images/experian.svg" alt="Experian logo" class="cta-logo">
        <p>This report was generated on <strong>July 17, 2017</strong> and will be updated in <strong>22 days</strong></p>
    </div>
</section>

<footer>
    {{footer-content}}
</footer>
